[submodule "CDA/vendor/spdlog"]
	path = CDA/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "CDA/vendor/GLFW"]
	path = CDA/vendor/GLFW
	url = https://github.com/ReeceTait/glfw
[submodule "CDA/vendor/imgui"]
	path = CDA/vendor/imgui
	url = https://github.com/ReeceTait/imgui
[submodule "CDA/vendor/glm"]
	path = CDA/vendor/glm
	url = https://github.com/g-truc/glm
